
p#introparagraph{
    display: block;
    width: 80%;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 10%;
}

footer {
    display: block;
    position: fixed;
    text-align: left;
    bottom: 1px;
    margin-top: 30px;
    width: 1700px;
    background-color: #568c8c;
}
@media screen and (min-width: 890px) {
    div.exteriordiv {
        padding-bottom: 70px;
        font-size: large;
        a{
            color:#568c8c;
            }
            a:visited {
                color: #585c63;
            }
            a:hover {
                color: #072000;
            }
    }
    h1 {
        display: block;
        text-align: center;
        text-shadow: 0 0 black;
        color: #eeece6;
        background-image: url(https://raw.githubusercontent.com/moriahlmoore/moriahlmoore.github.io/1be0e1c3997e80dea1c04a592340184c27e68873/islt_7355/grave_brooklyn_wide.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: auto;
        padding-top: 129px;
        font-size: 70px;
        height: 200px;
    }
    
    h2 {
        display: block;
        text-align: center;

    }
    h3 {
        display: block;
        text-align: center;
    }
    #moriahimage {
        width: 35%;
        position: relative;
        left: 62%;
    }
    #resourcesimage {
        width: 42%;
        position: relative;
        left: 57%;
    }
    blockquote {
        width: 75%;
        position: absolute;
        left: 27%;
        top: 1000px;
        padding-bottom: 50px;
    }
    #aboutparagraph {
        width: 42%;
        display: block;
        margin: 10px;
        padding-bottom: 50px;
        position: absolute;
        left: 15%;
        top: 425px;   
    }
    #educator{
        border-right: solid 3px #568c8c;
        padding: 5px;
        width: 20%;
        position: absolute;
        left:15%;
    }
    #learn {
        width:20%;
        position: absolute;
        left:40%;
        padding-bottom: 70px;
    }
    #resources {
        border-left: solid 3px #568c8c;
        padding: 5px;
        width: 20%;
        position: absolute;
        left:65%;
    }
    p#introparagraph{
        display: block;
        width: 80%;
        margin: 10px;
        padding: 10px;
        position: relative;
        left: 10%;
    }
    p#resourcesparagraph {
        width: 40%;
        display: block;
        margin: 10px;
        padding-bottom: 50px;
        position: absolute;
        left: 15%;
        top: 425px; 
    }
    .References{
        display: block;
        padding: 5px;
        width: 50%;
        border-top: #070200 solid 3px;
    }
    .APAreference {
        display:block;
        margin: 13px 5px 5px 200px;
    }
} 

@media screen and (max-width: 889px ) and (min-width: 540px){
    div.exteriordiv {
        padding-bottom: 150px;
        font-size: x-large;
        a:link {
            color:#568c8c;
            }
            a:visited {
                color: #585c63;
            }
            a:hover {
                color: #072000;
            }
    }
    h1 {
        display: block;
        text-align: center;
        text-shadow: 0 0 black;
        color: #eeece6;
        background-image: url(https://raw.githubusercontent.com/moriahlmoore/moriahlmoore.github.io/2acb62a46572494716cdaa683649d1fbbf8852a5/islt_7355/grave_brooklyn_wide.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: auto;
        padding-top: 10px;
        font-size: 60px;
        height: 170px;
    }
    
    h2 {
        display: block;
        text-align: center;
        position: relative;
        top:37px;

    }
    h3 {
        display: block;
        text-align: center;
        position: relative;
        top:22px;
    }
    #moriahimage {
        width: 35%;
        position: absolute;
        left:60%;
        top: 330px;
    }
    #resourcesimage {
        width: 42%;
        position: relative;
        left: 57%;
        top:30px;
    }
    blockquote {
        text-align: center;
        width: 75%;
        position: fixed;
        top: 620px;
        padding-bottom: 50px;
    }
    #aboutparagraph {
        width: 42%;
        display: block;
        margin: 10px;
        padding-bottom: 70px;
        position: absolute;
        left: 5%;
        top: 330px;   
    } 
    #educator{
        border-right: solid 3px #568c8c;
        padding: 5px;
        width: 20%;
        position: absolute;
        left:15%;
    }
    #learn {
        width:20%;
        position: absolute;
        left:40%;
        padding-bottom: 30px;
    }
    #resources {
        border-left: solid 3px #568c8c;
        padding: 5px;
        width: 20%;
        position: absolute;
        left:65%;
    }
    p#introparagraph{
        display: block;
        width: 80%;
        margin: 10px;
        padding: 10px;
        position: relative;
        left: 5%;
    }
    p#resourcesparagraph{
        width: 40%;
        display: block;
        margin: 10px;
        padding-bottom: 50px;
        position: absolute;
        left: 5%;
        top: 255px;
    }
    .References{
        display: block;
        padding: 5px;
        width: 80%;
        border-top: #070200 solid 3px;
        position: relative;
        top: 55px;
    }
    .APAreference {
        display:block;
        margin: 13px 5px 5px 20px;
        
    }
} 
@media screen and (max-width: 539px) {
    div.exteriordiv {
        padding-bottom: 250px;
        font-size: x-large;
        a:link {
            color:#568c8c;
            }
            a:visited {
                color: #585c63;
            }
            a:hover {
                color: #072000;
            }
    }
    h1 {
        display: block;
        text-align: center;
        text-shadow: 0 0 black;
        color: #eeece6;
        background-image: url(https://raw.githubusercontent.com/moriahlmoore/moriahlmoore.github.io/1be0e1c3997e80dea1c04a592340184c27e68873/islt_7355/grave_brooklyn_narrow.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: auto;
        padding-top: 20px;
        font-size: 40px;
        height: 150px;
    }
    h2 {
        display: block;
        text-align: center;
        position: relative;
        top:37px;
    }
    h3 {
        display: block;
        text-align: center;
        position: relative;
        top:22px;
    }
    #moriahimage {
        width: 35%;
        position: absolute;
        left:60%;
        top: 330px;
    }
    #resourcesimage {
        width: 42%;
        position: relative;
        left: 57%;
        top:30px;
    }
    blockquote {
        text-align: center;
        width: 75%;
        position: fixed;
        top: 620px;
        padding-bottom: 50px;
    }
    #aboutparagraph {
        width: 42%;
        display: block;
        margin: 10px;
        padding-bottom: 70px;
        position: absolute;
        left: 5%;
        top: 330px;   
    } 
    #educator{
        border-right: solid 3px #568c8c;
        padding: 5px;
        width: 20%;
        position: absolute;
        left:15%;
    }
    #learn {
        width:20%;
        position: absolute;
        left:40%;
        padding-bottom: 30px;
    }
    #resources {
        border-left: solid 3px #568c8c;
        padding: 5px;
        width: 20%;
        position: absolute;
        left:65%;
    }
    p#introparagraph{
        display: block;
        width: 80%;
        margin: 10px;
        padding: 10px;
        position: relative;
        left: 5%;
    }
    p#resourcesparagraph{
        width: 40%;
        display: block;
        margin: 10px;
        padding-bottom: 50px;
        position: absolute;
        left: 5%;
        top: 255px;
    }
    .References{
        display: block;
        padding: 5px;
        width: 80%;
        border-top: #070200 solid 3px;
        position: relative;
        top: 200px;
    }
    .APAreference {
        display:block;
        margin: 13px 5px 5px 20px;
    }
} 
