h1 {
    display: block;
    text-align: center;
    color: #003300;
}
h2 {
    display: block;
    text-align: center;

}
h3 {
    display: block;
    text-align: center;
}

p{
    display: block;
    width: 75%;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 20%;
}
.References{
    display: block;
    padding: 5px;
}
.APAreference {
    display:block;
    margin: 13px 5px 5px 200px;
}
footer {
    display: block;
    position: fixed;
    bottom: 10px;
    margin-top: 30px;
}
@media screen and (min-width: 769px) {
    #moriahimage {
        width: 35%;
        position: relative;
        left: 62%;
    }
    blockquote {
        width: 75%;
        position: absolute;
        left: 27%;
        top: 700px;
        padding-bottom: 50px;
    }
    h1 {
        display: block;
        text-align: center;
        color: #003300;
    }
    h2 {
        display: block;
        text-align: center;
    
    }
    h3 {
        display: block;
        text-align: center;
    }
    #aboutparagraph {
        width: 42%;
        display: block;
        margin: 10px;
        position: absolute;
        left: 13%;
        top: 141px;   
    }
} 

@media screen and (max-width: 768px) {
    #moriahimage {
        width: 35%;
        position: absolute;
        left:60%;
        top:223px;
    }
    blockquote {
        width: 75%;
        position: absolute;
        left: 27%;
        top: 700px;
        padding-bottom: 50px;
    }
    h1 {
        display: block;
        text-align: center;
        color: #003300;
    }
    h2 {
        display: block;
        text-align: center;
    
    }
    h3 {
        display: block;
        text-align: center;
    }
    #aboutparagraph {
        width: 42%;
        display: block;
        margin: 10px;
        position: absolute;
        left: 5%;
        top: 200px;    
    } 

} 
